@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  height: 100vh;
}

.trainLine1{
  background-color: rgb(49, 39, 131);
  width: 5%;
  height: 1rem;
  top: 20%;
  left: 0%;
  position: absolute;
}
.trianLine2{
  background-color: rgb(252, 194, 72);
  width: 5%;
  height: 1rem;
  top: 40%;
  left: 0%;
  position: absolute;
}
.trainLine3{
  background-color: rgb(149, 27, 129);
  width: 5%;
  height: 1rem;
  top: 60%;
  left: 0%;
  position: absolute;
}
.trainLine4{
  background-color: rgb(118, 184, 42);
  width: 5%;
  height: 1rem;
  top: 80%;
  left: 0%;
  position: absolute;
}